<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>DomiciliosApp</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {

        var uluru = {lat: 1.215364, lng: -77.278325}
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          draggable: true,
          title: "Muéveme"
        })

        google.maps.event.addListener(marker, 'click', function (evt) {
          var headers = new Headers();
          headers.append('Accept', 'application/json'); // This one is enough for GET requests
          headers.append('Content-Type', 'application/json'); // This one sends body

          fetch('http://146.71.79.215:3002/domicilios/client/'+'<%=datos%>',{
            method: 'POST',
            credentials: "include",
            body: JSON.stringify({
                position: {
                  lat: marker.getPosition().lat(),
                  lng: marker.getPosition().lng()
                }
            }),
            headers: headers
          })
          .then(res => res.json())
          .then(data => {
            loadMap(data)
          })
        })
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4tPF0Km-EZCrbiHCmt3yOFx-s9EMLlBs&callback=initMap">
    </script>
  </body>
</html>
